@media screen and (min-width: 520px) {
    #calendar {
        margin-left: 30%;
        text-align: center;
        width: 40%;  
        color: #FFF;
    }
}

@media screen and (max-width: 519px) {
    #calendar {
        text-align: center;
        width: 100%;  
        color: #FFF;
    }
}

.container {
    border-right: solid 3px #1ABC9C;
    border-bottom: solid 5px #1ABC9C;
    border-radius: 5px;
}

body { font-family:Arial; font-size:14px; }

.header {
    background-color:#FFF;
    padding: 10px 0;
    width: 100%;
    border: 1px solid #999;
    color: #1ABC9C;
}

.topSelect {
    width:100%; 
    background-color:#1ABC9C; 
    border: 1px solid #1ABC9C; 
    padding: 10px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

.months{
    border-bottom: 2px solid #1affff;
    border-right: 2px solid #1affff;
    color: #1abc9c;
    margin-right: 5%;
}

.years {
    border-bottom: 2px solid #1affff;
    border-right: 2px solid #1affff;
    color: #1abc9c;
}

.week{
    padding: 10px 0;
    text-align: center;
    width: 100%;
    color:#000;
    border: 1px solid #999;
    border-top: none;
}

.arrow {
    cursor: pointer;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    background-color: #e5e5e5;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.arrow:hover {
     background-color: #1abc9c;
     color:#FFF;
}

.arrow-left {
    margin-right: 20%;
}

.arrow-right {
    margin-left: 20%;
}

.week.names {
    background-color: #1ABC9C;
    color:#FFF;
}

div.day {
    display: inline-block;
    text-align: center;
    width: 14%;
    border-right: 1px solid #666;
}

div.day:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.names .day:hover {
    background-color: #1ABC9C;
    cursor: default;
}

div.day:nth-child(7) {
    border-right: none;
}

.day.different-month {
    color:#999;
}
.day.selected {
    color: #333;
    background-color: #d6d6d6;
}
.day.today {
    color: red;
}

.render-month {
    display:inline-block; 
    width:39%;
}

.selected-date {
    color: #666;
    font-weight: bold;
}

/*
// Creation Date      : Aug 01, 0216
// Developer          : Akshay Jain
// File               : style.css
// Purpose            : Creating a responsive calendar
// Last modified      : Aug 03, 2016
*/ 